<!doctype html>
<html>
  <head>
    <title>About <%=Recipe_Storage%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=Recipe_Storage%></h1>
    <a href="/">Home</a>
    <p>Website developed by Chidubem Orazulike!</p>
    <p>This website was created as a digital nutrition monitor to help all users acheive their nutritonal goals</p>
  </body>
</html>